canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.totinh-container {
  background-color: #000000;
}

.heaart-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-lee-min-hoo {
  background-image: radial-gradient(#00000000,
      #00000037,
      #ffffff92,
      #ffffff,
      #ffffff),
    url("./minh2.jpg");
  background-size: cover;
  width: 300px;
  height: 300px;
}

.i-love-you-text {
  position: absolute;
  font-size: 40px;
  width: 265px;
  cursor: pointer;
}

.heading {
  font-size: 50px;
  font-family: "Niconne", cursive;
  letter-spacing: 4px;
}

.heading span {
  position: relative;
  opacity: 0;
}

.animationOne {
  animation: animationOne 1s 0ms forwards;
}

@keyframes animationOne {
  from {
    left: 100px;
    opacity: 0;
    filter: blur(5px);
  }

  to {
    left: 0;
    opacity: 1;
    filter: blur(0);
  }
}

.animationTwo {
  animation: animationTwo 1s 5ms forwards;
  opacity: 0;
}

@keyframes animationTwo {
  from {
    left: 0;
    opacity: 1;
    filter: blur(0);
  }

  to {
    left: 100px;
    opacity: 0;
    filter: blur(5px);
  }
}

.thu {
  font-family: "NotoSans";
  max-width: 100vw;
  text-align: justify;
  overflow: auto;
  height: 100%;
  padding: 15px calc(50vw - 250px);
  box-sizing: border-box;
  background-image: url("./minh2.jpg");
  background-size: cover;
}

.text {
  background-color: #FF69B4;
  padding: 10px;
  color: #ffffff;
  border-radius: 16px;
  font-size: 17px;
  user-select: none;
}

.text+.text {
  margin-top: 15px;
}

.text span {
  font-weight: bolder;
  display: inline-block;
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animate.animate-visible {
  opacity: 1;
  transform: translateY(0);
}