html,
body {
  padding: 0;
  margin: 0;
  background: #ffffff;
}
#root {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media (max-width: 1199px) {
  #root {
    zoom: 1.2;
  }
}
@media (max-width: 767px) {
  #root {
    zoom: 0.8;
  }
}
@media (min-width: 1200px) {
  #root {
    zoom: 1.5;
  }
}
