html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
}
#root {
  height: 100%;
  width: 100%;
}
@media (max-width: 1199px) {
  #root {
    zoom: 1.2;
  }
}
@media (max-width: 767px) {
  #root {
    zoom: 0.8;
  }
}
@media (min-width: 1200px) {
  #root {
    zoom: 1.5;
  }
}
